.slide-wrapper {
    top: 50px;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: $border;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h2 {
        @extend %heading
    }
}

.silde-img {
    height: 700px;
    width: 800px;
}

.slide-img1 {
    width: 500px;
    height: 600px;
    position: relative;
    top: 50px;
    left: 150px;
}

.slide-img2 {
    position: relative;
    top: 50px;
    left: 150px;
}

.a2 {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}