.slide-wrapper {
    top: 50px;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: $border;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h2 {
        @extend %heading
    }
}

.silde-img {
    height: 700px;
    width: 800px;
}

.slide-img1 {
    width: 800px;
    height: 600px;
    position: relative;
    top: 50px;
    left: 100px;
}

.slide-img2 {
    position: relative;
    top: 50px;
    left: 150px;
}

.a2 {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}

.slide-img4 {
    position: relative;
    bottom: 20px;
    left: 50px;
}

.str {
    font-weight: 900;
    font-size: 70px;
}

.slide-img5 {
    position: relative;
    left: 100px;
}

.slide-img6 {
    position: relative;
    width: 1000px;
    height: 600px;
}

.slide-img7 {
    position: relative;
    height: 600px;
}

.slide-img8 {
    position: relative;
    top: 50px;
}